#cont{
    text-align: center;
    margin:15px;
    color:#0f0c29;
    font-weight: bold;
}
#inputform{
    color:#fff;
    text-align: center;
    width: 700px;
	height: 1250px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    justify-content: center;
	align-items: center;
    margin:auto;
    margin-bottom: 50px;
    padding: 20px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
label{
	color: #fff;
	font-size: 1.5em;
	justify-content: center;
	display: flex;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
/*input{
	width: 40%;
	height: 25px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}*/
#butn{
    text-align: center;
    margin-top: 30px;
    color:white;
    font-size: 1.5em;
    display: flex;
	
	font-weight: bold;
}
input[type=submit]{
    
	width: 50%;
	height: 40px;
	margin:  auto;
    text-align: center;
	display: inline-block;
	color: rgb(0, 0, 0);
	background: #573b8a;
	
	font-weight: bold;
	
	
	
	
    
}

button:hover{
	background: #6d44b8;
}
h1{
    margin: 15px;
    font-weight: bold;
}


